.detailTitle {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 15px 10px 10px;
}
.detailCon {
  padding: 10px;
  line-height: 30px;
}

.tips{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 10px 5px 10px;
  border-color: #eeeeee;
  border-bottom-width: 1px;
  border-style: dashed;
}
.tab{
  margin-right: 20px;
}